
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Symfony / PHP
/vendor/
/var/
/.env.local
/.env.*.local
/.env

# Logs
*.log

# Public bundles (assets)
public/bundles/

# Node 
node_modules/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Docker Compose override 
/docker-compose.override.yml
