{% extends 'base.html.twig' %}

{% block title %}Aviso Legal{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow rounded mb-24">
    <h1 class="text-2xl font-bold mb-4">Aviso Legal</h1>
    <p>Este sitio web es propiedad de Clínica Veterinaria Cuidado Animal, con domicilio en Av. Marqués de los Vélez, Murcia.</p>

    <p class="mt-4">El uso de este sitio implica la aceptación de los términos descritos en este aviso. Nos reservamos el derecho de modificar los contenidos sin previo aviso para mejorar la experiencia del usuario.</p>

    <p class="mt-4">Todos los contenidos (textos, imágenes, logotipos) están protegidos por derechos de autor. Queda prohibida su reproducción sin autorización expresa.</p>
</div>
{% endblock %}
