{% extends 'base.html.twig' %}

{% block title %}Condiciones de Uso{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow rounded mb-24">
    <h1 class="text-2xl font-bold mb-4">Condiciones de Uso</h1>
    <p>Este sitio está destinado a facilitar el acceso a información y servicios veterinarios proporcionados por Clínica Veterinaria Cuidado Animal.</p>

    <p class="mt-4">Al utilizar este sitio, te comprometes a hacerlo de forma lícita, respetuosa y sin causar daño a terceros ni al propio sitio.</p>

    <p class="mt-4">Nos reservamos el derecho a suspender el acceso a usuarios que incumplan estas condiciones o realicen usos indebidos del sistema.</p>
</div>
{% endblock %}
