{% extends 'base.html.twig' %}

{% block title %}Política de Privacidad{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto mt-10 p-6 bg-white shadow rounded mb-24">
    <h1 class="text-2xl font-bold mb-4">Política de Privacidad</h1>
    <p>En Clínica Veterinaria Cuidado Animal respetamos tu privacidad y nos comprometemos a proteger tus datos personales.</p>

    <p class="mt-4">Los datos proporcionados a través de formularios o correos electrónicos serán utilizados únicamente para fines relacionados con los servicios que ofrecemos, como la gestión de citas, historial clínico y seguimiento de mascotas.</p>

    <p class="mt-4">Nunca vamos a tener la intencion ni tampoco compartiremos tu información con terceros sin tu consentimiento. Puedes ejercer tus derechos de acceso, rectificación o eliminación escribiéndonos a: contacto@cvcuidadoanimal.com</p>
    <br></br>
    <h1 class="text-2xl font-bold mb-4">Política de Cookies</h1>
    <p>Este sitio utiliza cookies propias y de terceros para mejorar la navegación, analizar el uso del sitio y personalizar la experiencia del usuario.</p>

    <p class="mt-4">Las cookies son  archivos pequeños que se almacenan en tu navegador. Puedes aceptar o rechazar su uso configurando tu navegador en cualquier momento.</p>

    <p class="mt-4">Si desactivas las cookies, es posible que algunas funcionalidades del sitio no estén disponibles de la misma manera que si las aceptas. Al continuar navegando, aceptas nuestra política de cookies.</p>
</div>
{% endblock %}
