{% extends 'base.html.twig' %}


{% block title %}Historial: {{id.posts->descipcion}}{% endblock %}

{% block body %}
    <h3>Recuadros</h3>
    <div style="color: grey;" >      
            {{id.posts}}
    </div>

{% endblock %}