{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<div class="text-center mt-20">
    <h1 class="text-4xl font-bold text-red-700">Ha ocurrido un error</h1>
    <p class="mt-4 text-gray-600">Lo sentimos, algo salió mal. Por favor, vuelve a intentarlo más tarde.</p>
    <a href="{{ path('app_home') }}" class="mt-4 inline-block text-blue-600 underline">Volver al inicio</a>
</div>
{% endblock %}